@import './global.scss';
 
.app{
    height: 100vh;

    .sections{
        width: 100%;
        height: calc(100vh - 10vh);
        background-color: white;
        position: relative;
        top: 10vh;
        scroll-snap-type: y mandatory;
        scrollbar-width: none;
        scroll-behavior: smooth;
    }

    .sections > *{
        width: 100vw;
        height: calc(100vh - 10vh);
        scroll-snap-align: start;
        
    }
}